<h1>
	Tópicos Aprovados
</h1>
<% @topics.each do |t| %>

	<div class="demand_index container">
	    <br>
	    <center>
	      	<h4>
		        <b><%= t.description %></b>
		        <br><br>
	      	</h4>
	      	<h2>
		        <u>Categoria:</u>
		        <br>
		        <%= t.category %>
		        <br><br>
		        <u>Observação:</u>
		        <br>
		        <%= t.notes %>
	      	</h2>
		</center>
		<br>
	</div>
	<br>
<% end -%>
