<%= image_tag("logo1.png", :alt => "logo1") %>   <!-- Color: 374548 -->

<div class="container">
  <div class="col-lg-12">
    <div class="page-header">
      <h1-modif>Seja Bem-vindo!</h1-modif>
    </div>
  </div>
</div>

<center>
  <div class="row container">
    <div class="col-sm-4">
      <h1>Missão</h1>
      <h2>Desenvolver sites e-commerce para pequenas empresas.</h2>
    </div>
    <div class="col-sm-4">
      <h1>Visão e Valores</h1>
      <h2-modif>Estar entre os principais desenvolvedores de aplicações Web do mercado e ser referência de excelência em produtos e-commerce.</h2-modif>
      <br><br>
      <h2-modif>Conduta que reflita os mais altos padrões de ética;</h2-modif>
      <br><br>
      <h2-modif>Comunicação clara e precisa;</h2-modif>
      <br><br>
      <h2-modif>Gerenciamento em equipe, consistente e focado;</h2-modif>
      <br><br>
      <h2-modif>Relacionamento com clientes e colaboradores transparente e baseado na responsabilidade e confiança entre as partes.
    </div>
    <div class="col-sm-4">
      <h1>Sobre nós</h1>
    </div>
  </div>
</center>
